<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <div th:include="partials/head.html :: head"></div>
    <link th:href="@{/css/lyric-master.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="body">
<div class="container pb-80" style="padding-bottom: 100px; width: 38rem">
    <h1 id="headerLM" class="text-center">Lyric Master</h1>
    <div class=" card text-center game-start-lm start-menu lyricCards avatarBorderCont">
        <div class="card-body forgotPasswordCard lyricCardsBG video-game-button-black">
            <h4 class="rockFont">How to Play</h4>
            <p>You will be given <span th:text="${questions}"></span> incomplete song lyrics.</p>
            <p>Select the correct verse to complete the displayed lyrics.</p>
            <p>Complete the game before time runs out! You have <span th:text="${timeLimit}"></span> seconds!
            </p>
            <p>Have fun!</p>
            <p><a type="button" class="start-btn text-center forgotPasswordCard" id="startButton"><i
                    id="startGameButton" class="fas fa-play-circle"></i></a></p>
        </div>

    </div>
    <form th:method="post" th:action="@{/lyric-master/submit}" id="lyricMasterQuizForm">
        <input name="playerGame" type="hidden" th:value="${playerGame}">
        <input name="level" type="hidden" th:value="${round}">
        <input type="hidden" id="difficultySelected" name="songDifficulty" th:value="${songDifficulty}">
        <div class="card LMCardBorder">
            <div class="card-body lyricCards lm-cards hide">
                <div th:each="song : ${chosenSongs}" class="LMcard cardIndexShowing">
                    <input type="hidden" name="songId" th:value="${song.id}" hidden>
                    <ol class="p-0 m-0 avatarBorderCont">
                        <div class="card m-auto lyricCardsBG forgotPasswordCard">
                            <h2 class="card-title LMGameHeader text-center" th:text="${song.lyrics}"></h2>
                            <p class="text-left title text-center titleArtistHeader">Title: <span
                                    th:text="${song.title}"></span>
                            </p>
                            <div class="hint hint-btn mx-auto rockFont text-center pb-1"><i
                                    class="fas fa-star"></i>Hint<i class="fas fa-star"></i>
                            </div>
                            <p class="text-center titleArtistHeader">Artist: <span th:text="${song.artist}"></span></p>
                            <h6 class="titleArtistHeader text-center pulseTime">Time Remaining: <span
                                    class="lyricMaster-timer pulseTime"
                                    th:text="${timeLimit}"></span></h6>
                            <div class="form-check form-check-inline LMquizAnswers d-flex"
                                 th:each="lyricAnswer : ${song.lyricAnswers}">
                                <li class='video-game-button-black'>
                                    <input class="form-check-input solutions" th:id="${lyricAnswer.id}"
                                           type="radio" th:name="song_+${song.id}"
                                           th:value="${lyricAnswer.id}">
                                    <label th:for="${lyricAnswer.id}" th:text="${lyricAnswer.lyricAnswer}"></label>
                                </li>
                                <input class="hide form-check-input solutions" type="radio" th:value="1"
                                       th:name="song_+${song.id}" checked/>
                            </div>

                            <div class="d-flex row justify-content-center">
                                <a href="#" class="prev start-btn text-center mr-2 btn btn-warning" id="previous">PREVIOUS</a>
                                <a href="#" class='start-btn next text-center mr-2 btn btn-warning' id="next">NEXT</a>
                            </div>
                        </div>
                    </ol>
                </div>
                <div class="card-body video-game-button-black m-0 hidden w-100" id="submit">
                    <p class="card-text">Submit to View Results!</p>
                    <button type="submit" class="finishedBtn" value="Submit">Finished the Quiz!</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
<script th:src="@{/js/lyric-master.js}"></script>
</body>
</html>