<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <div th:include="partials/head.html :: head"></div>
    <link th:href="@{/css/lyric-master.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 id="headerLM">Lyric Master</h3>
<div>
    <span class='video-game-button'> </span>
    <span class='video-game-button'> </span>
    <button type="button" class="start-btn" id="startButton">START</button>
</div>
<form th:method="post" th:action="@{/lyric-master/submit}">
    <input name="playerGame" type="hidden" th:value="${playerGame}">
    <input name="level" type="hidden" th:value="${round}">
    <input type="hidden" id="difficultySelected" name="songDifficulty" th:value="${songDifficulty}">

    <div class="card-body lyricCards lm-cards hide">
        <div th:each="song : ${chosenSongs}" class="LMcard">
            <input type="hidden" name="songId" th:value="${song.id}">

            <ol class='video-game-button'>
                <div class="card m-auto lyricCardsBG">
                    <p>
                    <h3 class="card-title questionLabel" th:text="${song.lyrics}"></h3>
                    <h5>Title: <span th:text="${song.title}"></span></h5>
                    <h5>Artist: <span th:text="${song.artist}"></span></h5>
                    <h6>Time Remaining: <span class="lyricMaster-timer" th:text="${timeLimit}"></span></h6>
                    <div class="card-body form-check form-check-inline quizAnswers "
                         th:each="lyricAnswer : ${song.lyricAnswers}">
                        <li class='video-game-button'>
                            <input class="form-check-input solutions highlight" id="showAnswer"
                                   type="radio" th:name="song_+${song.id}"
                                   th:value="${lyricAnswer.id}">
                            <label th:for="${lyricAnswer.id}" th:text="${lyricAnswer.lyricAnswer}"></label>
                        </li>
                        <input class="hide form-check-input solutions" type="radio" th:value="1"
                               th:name="song_+${song.id}" checked/>
                    </div>
                    <span>
                    <a href="#" class="prev start-btn" id="previous">PREVIOUS</a>
                    <a href="#" class='start-btn next' id="next">NEXT</a>
                    </span>
                </div>
            </ol>
        </div>
        <div>
            <button type="submit" class="start-btn hidden" id="submit" value="Submit">Submit</button>
        </div>
    </div>
</form>

<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
<script th:src="@{/js/lyric-master.js}"></script>
</body>

</html>