<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>FooterNav Partial</title>
</head>
<body>

<footer th:fragment="footerNav">
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark p-0 m-0">
        <div class="container-fluid">
            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}"><span class="badge text-dark navbar-login mr-2">Register or Login</span></a>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                <button class="badge text-dark navbar-login mr-4">Logout</button>
            </form>


            <a th:if="${user}" class="text-white d-flex justify-content-center align-items-center"
               th:href="@{/profile/}">
                <img  style="max-height: 60px;max-width: 60px"
                     th:src="${user.images}">
                <p class="rockFont text-white h-100 w-100 mb-0 ml-2 d-flex justify-content-center align-items-center">Profile</p>
            </a>

            <i th:unless="${user}" style="color: #b200ff" class="fas fa-user-circle fa-3x ml-2 "></i>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active navLinkItemContainer mx-2 d-flex justify-content-center align-items-center">
                        <p class="nav-link m-0 p-0 navLinkItemText text-white"
                           aria-current="page">Games</p>
                        <a style="text-decoration: none"
                           class="h-100 w-100 d-flex justify-content-center align-items-center" th:href="@{/index}"><i
                                class="fas fa-gamepad navTabLinkOverlay fa-3x"></i></a>
                    </li>
                    <li class="nav-item navLinkItemContainer mx-2 d-flex justify-content-center align-items-center">
                        <p class="nav-link m-0 p-0 navLinkItemText text-white">Leaderboard</p>
                        <a style="text-decoration: none"
                           class="h-100 w-100 d-flex justify-content-center align-items-center"
                           th:href="@{/leaderboard}"><i class="fas fa-list-alt navTabLinkOverlay fa-3x"></i></a>
                    </li>
                    <li class="nav-item navLinkItemContainer mx-2 d-flex justify-content-center align-items-center">
                        <p class="nav-link m-0 p-0 navLinkItemText text-white text-center">Find A Friend</p>
                        <a style="text-decoration: none"
                           class="h-100 w-100 d-flex justify-content-center align-items-center"
                           th:href="@{/find-a-friend}"><i class="fas fa-users navTabLinkOverlay fa-3x"></i></a>
                    </li>
                    <li class="nav-item navLinkItemContainer mx-2 d-flex justify-content-center align-items-center">
                        <p class="nav-link m-0 p-0 navLinkItemText text-white">Achievements</p>
                        <a style="text-decoration: none"
                           class="h-100 w-100 d-flex justify-content-center align-items-center"
                           th:href="@{/achievements}"><i class="fas fa-award navTabLinkOverlay fa-3x"></i></a>
                    </li>
                    <li class="nav-item navLinkItemContainer mx-2 d-flex justify-content-center align-items-center">
                        <p class="nav-link m-0 p-0 navLinkItemText text-white">Forum</p>
                        <a style="text-decoration: none"
                           class="h-100 w-100 d-flex justify-content-center align-items-center"
                           th:href="@{/forum}"><i class="fas fa-comments navTabLinkOverlay fa-3x"></i></a>
                    </li>
                    <li class="nav-item navLinkItemContainer mx-2 d-flex justify-content-center align-items-center">
                        <p class="nav-link m-0 p-0 navLinkItemText text-white">FAQ</p>
                        <a style="text-decoration: none"
                           class="h-100 w-100 d-flex justify-content-center align-items-center"
                           th:href="@{/faq}"><i class="fas fa-id-card navTabLinkOverlay fa-3x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>
<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>