<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>FooterNav Partial</title>
</head>
<body>

<footer th:fragment="footerNav">
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark p-0 m-0">
        <div class="container-fluid">
            <a sec:authorize="!isAuthenticated()" th:href="@{/sign-up}"><span class="badge text-dark navbar-login mr-2">Register or Login</span></a>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                <button class="badge text-dark navbar-login mr-4">Logout</button>
            </form>

            <a class="mt-2 mb-2 text-white" th:href="@{/profile/}">
                <img th:if="${user}" style="max-height: 50px;max-width: 50px" th:src="${user.images}">
                <p th:if="${user}" class="d-inline rockFont p-0 m-0">Profile</p>
            </a>

            <img th:unless="${user}" style="max-height: 50px;max-width: 50px" src="/img/unnamed.png">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" th:href="@{/index}">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/leaderboard}">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/findafriend">Find A Friend</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/achievements">Achievements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/forum}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/faq}">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>
<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>