@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

.errorHeader{
    font-family: 'New Rocker', cursive;
    text-shadow: 2px 2px 1px #fcc910, 0 0 5px blue, 0 0 5px darkblue;
    color: #fd03bb;
    text-align: center;
    font-size: 4rem;
    margin-top: 1rem;
}

/*.lead {*/
/*    font-size: 8rem;*/
/*    font-weight: 300;*/
/*}*/

.rockFont {
    font-family: 'New Rocker', cursive;
}

#unscrambleLyricIcon {
    animation: pulse 4s infinite;
    font-size: 25em;
    color: #00f4ff;
}

.signInBorder {
    background: linear-gradient(to right, #00f4ff, #9b029b);
    padding: 3px;
}

#unscrambleLyricIconSignIn {
    animation: pulse 4s infinite;
    font-size: 23rem;
    color: #00f4ff;
}

.LMGameHeader {
    font-family: 'New Rocker', cursive;
    color: #ddd903;
    text-shadow: 2px 2px 25px #23003e, 0 0 25px #020273, 0 0 25px #4e0130;
}

.page-wrap{
    min-height: 100vh;

}

#container {
    background-image: url("../img/crackedScreen.jpg");
}

.circle {
    animation: out 2s infinite ease-out;
    fill: #00F4FF;
}

.fa-compact-disc {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;

}

.fa-compact-disc:hover {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.message {
    color: #00F4FF;
    font-size: 4rem;
}

.message:after {
    content: "]";
}

.message:before {
    content: "[";
}

.message:after, .message:before {
    color: #00f4ff;
    font-size: 20px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    margin: 0 50px;
}

@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes out {
    0% {
        r: 1;
        opacity: 0.9;
    }
    25% {
        r: 5;
        opacity: 0.3;
    }
    50% {
        r: 10;
        opacity: 0.2;
    }
    75% {
        r: 15;
        opacity: 0.1;
    }
    100% {
        r: 20;
        opacity: 0;
    }
}
