
.start-menu{
   top: 20%;
}

.LMCardBorder {
    background: linear-gradient(to right, #0049ff, #9b029b);
    padding: 3px;
}

.titleArtistHeader {
    font-family: 'New Rocker', cursive;
    color: #9b029b;
    text-shadow: 2px 2px 25px #23003e, 0 0 25px #020273, 0 0 25px #4e0130;
    font-size: 1.5em;
}


.video-game-button-black {
    text-shadow: 1px 1px #000005, -1px -1px #000005;
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: .75em;
    -moz-border-radius: .75em;
    -o-border-radius: .75em;
    border-radius: .75em;
    background-color: #222;
    -webkit-box-shadow:  0 .2em #222;
    -moz-box-shadow:  0 .2em #222;
    -o-box-shadow:  0 .2em #222;
    box-shadow:  0 .2em #222;
    color: white;
    margin: 5px;
    background-color: #222;
    cursor: pointer;
    padding-left: 5px;
    font-family: 'New Rocker', cursive;
}

.video-game-button {
    text-shadow: 1px 1px blue, -1px -1px darkblue;
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
    width: 100%;
    -webkit-border-radius: .75em;
    -moz-border-radius: .75em;
    -o-border-radius: .75em;
    border-radius: .75em;
    background-color: darkblue;
    -webkit-box-shadow:  0 .2em darkblue;
    -moz-box-shadow:  0 .2em darkblue;
    -o-box-shadow:  0 .2em darkblue;
    box-shadow:  0 .2em darkblue;
    color: white;
    margin: 5px;
    background-color: #0061f5;
    background-image: -o-linear-gradient(left top, #07c837 3%, blue 22%, darkblue 99%);
    background-image: -moz-linear-gradient(left top, #07c837 3%, blue 22%, darkblue 99%);
    background-image: -webkit-linear-gradient(left top, #07c837 3%, blue 22%, darkblue 99%);
    background-image: linear-gradient(left top, #07c837 3%, blue 22%, darkblue 99%);
    border-image-source: linear-gradient(to left, #0061f5, #07c837);
    cursor: pointer;
    padding-left: 5px;
    font-family: 'New Rocker', cursive;
}
.start-btn{
    text-align: center;
    display: inline-block;
    margin:5px;
    font-weight: bold;
    padding: 10px 10px 10px 10px ;
    text-shadow: -1px -1px black;
    color: #ddd903 !important;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'New Rocker', cursive;

}

.hint-btn {
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    outline: none !important;
    color: #070707;
    background-color: #7ad204;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
    margin-bottom: 1em;
}


.video-game-button:active, .start-btn:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

.video-game-button-black:active, .start-btn:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}
#headerLM {
    font-weight: bolder;
    text-align: center;
    font-family: 'New Rocker', cursive;
    color: #c62a88;
    text-shadow: 1px 1px 2px #fcc910, 0 0 25px blue, 0 0 5px darkblue;
}

.lyricCards .LMcard{display:none;}
.lyricCards .LMcard.active{display:initial}

.title{
    display: none;
}

#badgeEarned{
    display: none;
}


.pulseTime{
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);

    }

    70% {
        transform: scale(1);

    }

    100% {
        transform: scale(0.95);

    }
}

.faHover{
    color: white;
    size: 3em;

}

.faHover:hover{
    color: #a16ef6;
    size: 4em;
    transform: skewY(20deg)
}

.LMGameHeader {
    font-family: 'New Rocker', cursive;
    color: #ddd903;
    text-shadow: 2px 2px 25px #23003e, 0 0 25px #020273, 0 0 25px #4e0130;
    font-size: 4em;
}

/*.forgotPasswordCard {*/
/*    background: #222;*/
/*    color: white;*/
/*    padding: 1rem;*/
/*}*/
/*.linkFooterTC {*/
/*    display: none;*/
/*}*/

/*.linkFooterCH {*/
/*    display: none;*/
/*}*/

/*.linkFooterCV {*/
/*    display: none;*/
/*}*/

/*.linkFooterCE {*/
/*    display: none;*/
/*}*/

/*.thomas:hover .linkFooterTC{*/
/*    display: block;*/
/*    height: 50%;*/
/*}*/

/*.cory:hover .linkFooterCH{*/
/*    display: block;*/
/*    height: 50%;*/
/*}*/

/*.cruz:hover .linkFooterCV{*/
/*    display: block;*/
/*    height: 50%;*/
/*}*/

/*.caroline:hover .linkFooterCE{*/
/*    display: block;*/
/*    height: 50%;*/
/*}*/