@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

.body, html {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/readyPlay.gif") repeat;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100vh;
    /*background-repeat: repeat;*/
}

.titleHeader{
    font-family: 'New Rocker', cursive;
    text-shadow: 2px 2px 1px #fcc910, 0 0 5px blue, 0 0 5px darkblue;
    color: #fd03bb;
    text-align: center;
    font-size: 4rem;
    margin-top: 1rem;
}

.rockFont {
    font-family: 'New Rocker', cursive;
}

.difficultySelect{
    display: none;
}

.difficultyLabel:hover{
    text-shadow: 2px 2px 1px #fcc910, 0 0 5px blue, 0 0 5px darkblue;
}

.difficultyLabel-selected{
    color: blue;
    text-shadow: 0px 0px 2px 3px #f602b9;
}

.result-cards{
    text-align: center;
}

.pinkShadowFont {
    color: #fd03bb;
    text-shadow: 2px 2px 25px #23003e, 0 0 25px #020273, 0 0 25px #4e0130;
}

#gameMenuContainer {
    z-index: 100;
}

#backgroundSplashImg {
    width: 100%;
    height: 100%;
}

.navbar {
    background: rgba(20, 20, 31, 0.8);
}

.navbar-login {
    background-color: #eee31a;
    font-size: 1em;
}

#navbarCollapse {
    margin-left: auto;
}

.navLinkItemText {
    font-size: 1rem;
    font-weight: bolder;
}


.navLinkItemContainer {
    position:relative;
    width:80px;
    height:80px; /*dimensions of image*/
}

.navTabLinkOverlay {
    color: #eee31a;
}

.navLinkItemContainer .navTabLinkOverlay, .navLinkItemContainer .navLinkItemText {
    transition: opacity 0.5s ease-in-out;
}
.navLinkItemContainer .navLinkItemText {
    position:absolute;
    opacity:0;
}

.navLinkItemContainer:hover .navTabLinkOverlay {opacity:0;}
.navLinkItemContainer:hover .navLinkItemText {opacity:1;}

#backButton {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    z-index: 100;
    font-size: 2.5em;
    color: #f7ff00;
    text-shadow: 1px 1px 2px #fcc910, 0 0 25px blue, 0 0 5px #00008b;
}

#audioButton, #audioButtonOff {
    position: absolute;
    top: 1%;
    left: 94%;
    z-index: 100;
    font-size: 2.5em;
    color: #f7ff00;
    text-shadow: 1px 1px 2px #fcc910, 0 0 25px blue, 0 0 5px darkblue;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes menuToMiddle {
    from {top: 78%; left: 89%}
    to {top: 48%; left:50%}
}

#wordMenu {
    position: absolute;
    top: 91%;
    left: 88%;
    z-index: 100;
    background-color: #a207e5;
    font-family: 'New Rocker', cursive;
    font-size: 3em;
}

@keyframes zoomHeader {
    from {font-size: 1em;}
    to {font-size: 8em;}
}

@keyframes moveHeaderUp {
    from {top: 50%;}
    to {top: 40%;}
}

#header {
    position: absolute;
    width: 100vw;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    text-align: center;
    font-family: 'New Rocker', cursive;
    color: #f30196;
    text-shadow: 1px 1px 2px #fcc910, 0 0 25px blue, 0 0 5px darkblue;
    animation-name: zoomHeader, moveHeaderUp;
    animation-duration: 5000ms, 1000ms;
    animation-delay: 0ms, 6000ms; /* add this */
    animation-timing-function: ease-in, ease-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.95);
    }
}

#playButton {
    animation: pulse 2s infinite;
    font-size: 80px;
    position: absolute;
    z-index: 100;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: #e701a6;
}

#gameOptions {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 100;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#triviaIcon, #lyricIcon, #musicTheoryIcon, #unscrambleLyricIcon {
    animation: pulse 4s infinite;
    font-size: 13em;
    color: #00f4ff;
}

.gameTitles {
    width: 100%;
    position: absolute;
    top: 20%;
    font-family: 'New Rocker', cursive;
    color: #fd03bb;
    text-shadow: 2px 2px 25px #23003e, 0 0 25px #020273, 0 0 25px #4e0130;
    font-size: 3em;
}

.gameTitles:hover {
    text-shadow: 2px 2px 4px #fcc910, 0 0 25px blue, 0 0 10px darkblue;
}

.genreLabel, .difficultyLabel, #roundScore, #roundScoreCounter, #score, #scoreCounter, #userName{
    font-family: 'New Rocker', cursive;
    color: #fd03bb;
    text-shadow: 1px 1px 1px #fcc910, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 2.5em;
}

label.genreLabel, label.difficultyLabel {
    cursor: pointer;
}



/*TRIVIA-GAME CAROUSEL*/
#carouselExampleIndicators {
    position: absolute;
    max-width: 34em;
    height: 39em;
    z-index: 4;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#carousel-inner {
    max-width: 100vw;
    height: 100vh;
}

.forgotPasswordCard {
    background: #222;
    color: white;
    padding: 1rem;
}

.triviaCard {
    max-width: 32em;
    height: 34em;
    background: #222;
    color: white;
    padding: 1rem;
}

.triviaCarItem {
    background: linear-gradient(to right, red, purple);
    padding: 3px;
}

.questionsResults {
    font-weight: bold;
}

.questionLabel, #gameHistoryHeader {
    font-family: 'New Rocker', cursive;
    font-size: 2em;
    text-align: center;
    color: #fad100;
}

.quizAnswers {
    font-size: 1.5em;
    padding: 10px;
    font-family: 'New Rocker', cursive;
}

#timer {
    float: right;
    margin: 1em;
    font-size: 4em;
}

#startGameButton {
    animation: pulse 2s infinite;
    font-size: 100px;
    color: #db009d;
}

#timerInfoHeader {
    font-family: 'New Rocker', cursive;
    font-size: 2em;
}

#resultsSection {
    margin: auto;
    height: 45rem;
    width: 80%;
    overflow-y: scroll;
    padding-bottom: 80px;
}

.triviaResultsHeader, #achievementHeader, .questionHeader {
    font-family: 'New Rocker', cursive;
    color: #fd03bb;
    text-shadow: 2px 2px 25px #23003e, 0 0 25px #020273, 0 0 25px #4e0130;
    font-size: 2.5em;
}

.carControls {
    margin: 1rem;
    position: relative;
    font-size: 1.5em;
    color: #ddd903 !important;
    opacity: unset;
    width: 8em !important;
}

#submitQuiz {
    width: 6em;
    margin-left: auto;
    background-color: #7ad204;
}

.controlQ {
    width: 8em !important;
}

#triviaBadgeAlert {
    position: absolute;
    z-index: 100;
    width: 30rem;
    height: 25rem;
    top: 10%;
    left: 34%;
    background-color: #222;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #7cf300, #d53a9d);
}

#badgeAlertControls {
    margin-top: auto;
}

#newTriviaAwardsEarned {
    margin: 5px 5px;
    font-weight: bold;
}

/*PROFILE*/

#profileAvatar, #leadershipBoardAvatar {
    width: 10rem;
    height: 10rem;
}

.avatarBorderCont {
    background: linear-gradient(to right, #0049ff, #9b029b);
    padding: 3px;
}

#staticBackdropLabel {
    font-family: 'New Rocker', cursive;
    color: #fd03bb;
    text-shadow: 1px 1px 2px #fcc910, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 2.5em;
}

.avatarOptions {
    width: 80px;
    height: 90px;
    margin: 10px;
}

.avatarOptionContainer {
    text-align: center;
    width: 40em;
    display: flex;
    background-color: #222;
}

.avatarLabel {
    cursor: pointer;
}

.avatarLabel:hover {
    border: 3px solid #ff00f2;
}

input[type="radio"]:checked + .avatarLabel {
    border: 5px solid #00ffff;
}

#userGameStatsContainer {
    max-width: 44em;
    min-height: 28em;
    overflow-y: scroll;
}

#globalRankingContainer, .listRankingsGroup {
    max-width: 30rem;
    height: 21rem;
    overflow-y: scroll;
}

.leaderboardULs {
background-color: #02093e;
}

.gameStatsCards {
    background-color: #02023c;
}

.border-gradient-purple {
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #6100ff, #ff00a3);
}

.gameStatsCards:hover {
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #0061f5, #07c837);
}

#myTabContent {
    color: white;
    height: 27rem;
    overflow-y: scroll;
}

.cardBodyForTabs {
    background-color: #370337;
}

.tabHeaders {
    background-color: #f800b5;
}

.navTabs:active {
    background-color: darkblue;
}

.faqHeader {
    font-family: 'New Rocker', cursive;
    color: #fd03bb;
    text-shadow: 2px 2px 25px #23003e, 0 0 25px #020273, 0 0 25px #4e0130;
    font-size: 4em;
}

.welcomePlayerHeader {
    font-family: 'New Rocker', cursive;
    color: #fd03bb;
    text-shadow: 2px 2px 25px #23003e, 0 0 25px #020273, 0 0 25px #4e0130;
    font-size: 2em;
}


/*achievements*/
.badge1-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#54a703), to(#00b9d0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.badge2-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#8402f6), to(#ef0083));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.badge3-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#fce303), to(#0042c6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.badge4-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#ea7e00), to(#4300bf));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#achieveContainer {
    background-color: rgba(35, 1, 78, 0.7);
    height: 45rem;
    overflow-y: scroll;
    border-radius: 10px;
    margin: 10px auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#achieveContainer::-webkit-scrollbar {
    display: none;
}

#resultsSection::-webkit-scrollbar {
    display: none;
}

#myTabContent::-webkit-scrollbar {
    display: none;
}

#globalRankingContainer::-webkit-scrollbar {
    display: none;
}

.listRankingsGroup::-webkit-scrollbar {
    display: none;
}

#userGameStatsContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#achieveContainer, #myTabContent, #globalRankingContainer, .listRankingsGroup, #userGameStatsContainer, #resultsSection, #forum-window {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hrLine2 {
    border-top: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #0061f5, #07c837);
}

.hrLine1 {
    border-top: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #f500cc, #f5f104);
}

.hrLine3 {
    border-top: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #00f5a7, #f56c04);
}

.hrLine4 {
    border: 8px solid #f602b9;
}

.hrLine5 {
    border: 2px solid #30f504;
}

.badgeDescription {
    width: 14em;
    padding: 0 8px;
}

.unscramble-diff-options:hover, .unscramble-genre-options:hover{
    text-shadow: 2px 2px 1px #fcc910, 0 0 5px blue, 0 0 5px darkblue;
}

.unscramble-diff-selected, .unscramble-genre-selected {
    color: transparent;
    text-shadow: 0px 0px 2px 3px #f602b9;
}










