@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

body,html {
    height: 100vh;
    position: relative;
    background-image: url("../img/readyPlay.gif");
    background-repeat: repeat;
    background-size: cover;
}

#gameMenuContainer {
    z-index: 100;
}

#backgroundSplashImg {
    width: 100%;
    height: 100%;
}

.navbar {
    background: rgba(20, 20, 31, 0.8);
}

.navbar-login {
    background-color: #eee31a;
    font-size: 1em;
}

#navbarCollapse {
    margin-left: auto;
}

#profileIcon {
    width: 50px;
    height: 50px;
    color: #1aeeee;
}

#backButton {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    z-index: 100;
    font-size: 2.5em;
    color: #f7ff00;
    text-shadow: 1px 1px 2px #fcc910, 0 0 25px blue, 0 0 5px #00008b;
}

#audioButton, #audioButtonOff {
    position: absolute;
    top: 1%;
    left: 94%;
    z-index: 100;
    font-size: 2.5em;
    color: #f7ff00;
    text-shadow: 1px 1px 2px #fcc910, 0 0 25px blue, 0 0 5px darkblue;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes menuToMiddle {
    from {top: 78%; left: 89%}
    to {top: 48%; left:50%}
}

#menuRecord {
    position: absolute;
    top: 78%;
    left:89%;
    z-index: 100;
    font-size: 8em;
    color: #ee00ff;
    text-shadow: 1px 1px 2px blue, 0 0 25px #fcc910, 0 0 5px darkblue;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#wordMenu {
    position: absolute;
    top: 91%;
    left: 88%;
    z-index: 100;
    background-color: #a207e5;
    font-family: 'New Rocker', cursive;
    font-size: 3em;
}

@keyframes zoomHeader {
    from {font-size: 1em;}
    to {font-size: 8em;}
}

@keyframes moveHeaderUp {
    from {top: 50%;}
    to {top: 40%;}
}

#header {
    position: absolute;
    width: 100vw;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    text-align: center;
    font-family: 'New Rocker', cursive;
    color: #c62a88;
    text-shadow: 1px 1px 2px #fcc910, 0 0 25px blue, 0 0 5px darkblue;
    animation-name: zoomHeader, moveHeaderUp;
    animation-duration: 5000ms, 1000ms;
    animation-delay: 0ms, 6000ms; /* add this */
    animation-timing-function: ease-in, ease-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.95);
    }
}

#playButton {
    animation: pulse 2s infinite;
    font-size: 80px;
    position: absolute;
    z-index: 100;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: #b7138a;
}

#gameOptions {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 100;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#triviaIcon, #lyricIcon, #musicTheoryIcon, #unscrambleLyricIcon {
    animation: pulse 4s infinite;
    font-size: 13em;
    color: #07dce5;
}

.gameTitles {
    width: 100%;
    position: absolute;
    top: 20%;
    font-family: 'New Rocker', cursive;
    color: #b7138a;
    text-shadow: 2px 2px 4px #1b0230, 0 0 25px #ebebee, 0 0 10px darkblue;
    font-size: 3em;
}

.gameTitles:hover {
    text-shadow: 2px 2px 4px #fcc910, 0 0 25px blue, 0 0 10px darkblue;
}

.genreLabel, .difficultyLabel, #roundScore, #roundScoreCounter, #score, #scoreCounter, #userName{
    font-family: 'New Rocker', cursive;
    color: #b7138a;
    text-shadow: 1px 1px 2px #fcc910, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 2.5em;
}

/*TRIVIA-GAME CAROUSEL*/
#carouselExampleIndicators {
    position: absolute;
    width: 32em;
    height: 40em;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#carousel-inner {
    width: 100%;
    height: 100%;
}

.triviaCard {
    width: 30em;
    height: 35em;
    background: #222;
    color: white;
    padding: 1rem;
}

.triviaCarItem {
    background: linear-gradient(to right, red, purple);
    padding: 3px;
}

.questionsResults {
    font-weight: bold;
}

.questionLabel {
    font-family: 'New Rocker', cursive;
    font-size: 2em;
    text-align: center;
    color: #d0af08;
}

.quizAnswers {
    font-size: 1.5em;
    padding: 10px;
    font-family: 'New Rocker', cursive;
}

#timer {
    float: right;
    margin: 1em;
    font-size: 4em;
}

#startGameButton {
    animation: pulse 2s infinite;
    font-size: 100px;
    color: #b7138a;
}

#timerInfoHeader {
    font-family: 'New Rocker', cursive;
    font-size: 2em;
}

#resultsSection {
    margin: auto;
}

.triviaResultsHeader {
    font-family: 'New Rocker', cursive;
    color: #ee00ff;
    text-shadow: 1px 1px 2px blue, 0 0 25px #fcc910, 0 0 5px darkblue;
    font-size: 2.5em;
}

.carControls {
    margin: 1em;
    position: relative;
    font-size: 1.5em;
}

#submitQuiz {
    width: 5em;
    margin-left: 41%;
}

/*PROFILE*/

#profileAvatar {
    width: 100px;
    height: 100px;
}

.avatarBorderCont {
    background: linear-gradient(to right, #0049ff, #9b029b);
    padding: 3px;
}

#staticBackdropLabel {
    font-family: 'New Rocker', cursive;
    color: #ee00ff;
    text-shadow: 1px 1px 2px blue, 0 0 25px #fcc910, 0 0 5px darkblue;
    font-size: 2.5em;
}

.avatarOptions {
    width: 80px;
    height: 90px;
    margin: 10px;
}

.avatarOptionContainer {
    text-align: center;
    width: 40em;
    display: flex;
    background-color: #222;
}

.avatarLabel {
    cursor: pointer;
}

.avatarLabel:hover {
    border: 3px solid #ff00f2;
}

input[type="radio"]:checked + .avatarLabel {
    border: 5px solid #00ffff;
}

#userGameStatsContainer {
    width: 42em;
    height: 30em;
}

.gameStatsCards {
    background-color: #514f51;
}

.border-gradient-purple {
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.gameStatsCards:hover {
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #0061f5, #07c837);
}

#myTabContent {
    color: white;
    height: 30em;
    overflow-y: scroll;
}

#triviaTabHeader {
    background-color: #b7138a;
}

#lyricTabHeader {
    background-color: #025899;
}

#theoryTabHeader {
    background-color: #1a8f01;
}

#unscrambleTabHeader {
    background-color: #baaa01;
}
