<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Congratulations!</title>
</head>
<body>
<div class="card mx-auto mb-5 avatarBorderCont" style="width: 23rem">
    <div class="card-body forgotPasswordCard">
        <h4 class="card-title text-center mb-4 mt-1">Congratulations! Your account has been activated and email is
            verified!</h4>
    </div>
</div>
</body>
<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
</html>