<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Achievements</title>
</head>
<body>

<div class="container-fluid">
    <h1 id="achievementHeader" class="text-center m-3">ACHIEVEMENTS</h1>
    <div id="achieveContainer" class="row text-center">
        <h3 class="text-white rockFont mt-1 w-100 text-center">LYRIC MASTER</h3>
        <div class="col-md-12 d-flex flex-wrap justify-content-center my-3 p-0">
            <div class="mx-5">
                <i class="fas fa-award fa-8x badge1-gradient mx-5 my-3" id="awardBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A <br>PERFECT SCORE IN ALL GENRES</p>
            </div>
            <div class="mx-5">
                <i class="fas fa-medal fa-8x badge3-gradient mx-5 my-3" id="medalBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY PLAYING A <br>TOTAL OF 5 GAMES</p>
            </div>
            <div class="mx-5">
                <i class="fas fa-crown fa-7x badge2-gradient mx-5 my-3" id="crownBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A PERFECT <br>SCORE STREAK ON 5 GAMES</p>
            </div>
            <div class="mx-5">
                <i class="fas fa-trophy fa-7x badge4-gradient mx-5 my-3" id="trophyBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A TOTAL <br>SCORE OF 5,000</p>
            </div>
        </div>
        <h3 class="text-white rockFont mt-1 w-100 text-center hrLine1 pt-2">UNSCRAMBLE MASTER</h3>
        <div class="col-12 d-flex flex-wrap justify-content-center my-3">
            <div class="mx-5">
                <i class="fas fa-star fa-8x badge2-gradient mx-5 my-3" id="starBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A PERFECT <br>SCORE STREAK ON 5 GAMES</p>
            </div>
            <div class="mx-5">
                <i class="fas fa-certificate fa-8x badge4-gradient mx-5 my-3" id="certBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A <br>TOTAL SCORE OF 5,000</p>
            </div>
            <div class="mx-5">
                <i class="fab fa-battle-net fa-8x badge1-gradient mx-5 my-3" id="netBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A <br>PERFECT SCORE ON HARD</p>
            </div>
            <div class="mx-5">
                <i class="fas fa-bolt fa-8x badge3-gradient mx-5 my-3" id="boltBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A <br>PERFECT SCORE IN ALL GENRES</p>
            </div>
        </div>
        <h3 class="text-white rockFont mt-1 w-100 text-center hrLine2 pt-2">THEORY MASTER</h3>
        <div class="col-12 d-flex flex-wrap justify-content-center my-3">
            <div class="mx-5">
                <i class="fas fa-bomb fa-8x badge1-gradient mx-5 my-3" id="bombBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A <br>PERFECT SCORE ON HARD</p>
            </div>
            <div class="mx-5">
                <i class="fas fa-chess-king fa-8x badge2-gradient mx-5 my-3" id="chessBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A <br>PERFECT SCORE 3 TIMES</p>
            </div>
            <div class="mx-5">
                <i class="fas fa-dice-d20 fa-8x badge4-gradient mx-5 my-3" id="diceBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY PLAYING A<br> TOTAL OF 5 GAMES</p>
            </div>
            <div class="mx-5">
                <i class="fas fa-fire fa-8x badge3-gradient mx-5 my-3" id="fireBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A <br>TOTAL SCORE OF 1,000</p>
            </div>
        </div>
        <h3 class="text-white rockFont mt-1 w-100 text-center hrLine3 pt-2">TRIVIA MASTER</h3>
        <div class="col-12 d-flex flex-wrap justify-content-center my-3">
            <div class="mx-5">
                <i class="fas fa-gem fa-8x badge2-gradient mx-5 my-3" id="gemBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A PERFECT<br> ROUND IN ALL DIFFICULTY LEVELS</p>
            </div>
            <div class="mx-5">
                <i class="fas fa-jedi fa-8x badge3-gradient mx-5 my-3" id="jediBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY PLAYING A <br>TOTAL OF 5 GAMES</p>
            </div>
            <div class="mx-5">
                <i class="fab fa-phoenix-squadron fa-8x badge4-gradient mx-5 my-3" id="phoenixBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A <br>TOTAL SCORE OF 5,000</p>
            </div>
            <div class="mx-5">
                <i class="fas fa-shield-alt fa-8x badge1-gradient mx-5 my-3" id="shieldBadge"></i>
                <p class="text-white fw-bolder bg-dark">EARN BY GETTING A PERFECT <br>SCORE STREAK ON 5 GAMES</p>
            </div>
        </div>
    </div>
</div>

<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>