<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <div th:include="partials/head.html :: head"></div>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Master of Music</title>
</head>

<body class="body">

<a th:href="@{/index}"><i id="backButton" class="fas fa-backward"></i></a>
<a href="#"><i id="audioButton" class="fas fa-volume-up mr-3"></i></a>
<a href="#"><i id="audioButtonOff" class="fas fa-volume-mute mr-3"></i></a>
<div class="container">
    <div class="row justify-content-around align-items-center">
        <div class="col card avatarBorderCont" style="width: 18rem">
            <div class="card-header">
                <h3>There seems to be a malfunction!</h3>
            </div>
            <div class="card-body forgotPasswordCard">
                <div th:text="${message}">
                </div>
            </div>
        </div>
        <div class="col">
            <h1 class="titleHeader text-center" id="unscrambleLyricIcon">4<i class="fas fa-compact-disc"></i>4</h1>
        </div>
    </div>
</div>



</body>
<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
</html>