<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{css/errorPage.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/3c4a7aa4f0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <title>Master of Music</title>
</head>
<body>
<div id="container">
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="mb-4 LMGameHeader message" th:text="${message}"></div>
                    <span class="display-1 d-block " id="unscrambleLyricIcon"><p class="rockFont">4<i
                            class="fas fa-compact-disc"></i>4</p></span>
                    <div class="LMGameHeader" style="font-size: 2rem">There seems to be a malfunction...</div>
                    <a th:href="@{/index}">
                        <button type="button" class="mr-2 btn btn-warning rockFont">Back to Master of Music</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="partials/scripts.html :: scripts"></div>
</html>