<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <meta charset="UTF-8">
    <title>FAQ</title>
<style>
    .avatar:hover {
        border: 3px solid #ff00f2;
    }
</style>
</head>
<body>


<main>
    <header >
        <h1 class="faqHeader text-center">Meet the Creators</h1>
    </header>
    <div class="container">
        <div class="row g-4">
            <div class="col mt-3">
                <div class="card h-100 avatarBorderCont triviaCard avatar thomas">
                    <img class="card-img-top" th:src="@{/img/thomas.png}" alt="">
                    <div class="card-body">
                        <div class="card-footer linkFooterTC">
                        <h2 class="text-center">Thomas Crowder</h2>
                            <p><a th:href="@{https://github.com/ThomasCrowder703}"><i class="fab fa-github faHover"></i></a>
                            <a th:href="@{https://www.linkedin.com/in/thomas-crowder-b1a922203/}"><i class="fab fa-linkedin faHover"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card h-100 avatarBorderCont triviaCard avatar cory">
                    <img class="card-img-top" th:src="@{/img/cory.jpeg}" alt="">
                    <div class="card-body">
                        <div class="card-footer linkFooterCH">
                        <h2 class="text-center">   Cory    Holley</h2>
                            <p><a th:href="@{https://github.com/coryholley}"><i class="fab fa-github faHover"></i></a>
                            <a th:href="@{https://www.linkedin.com/in/courtney-holley/}"><i class="fab fa-linkedin faHover"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mt-3">
                <div class="card h-100 avatarBorderCont triviaCard avatar cruz">
                    <img class="card-img-top " th:src="@{/img/cruz.jpeg}" alt="">
                    <div class="card-body">
                        <div class="card-footer linkFooterCV">
                        <h2 class="text-center">Cruzanio Villarreal</h2>
                            <p><a th:href="@{https://github.com/cruzaniovillarreal}"><i class="fab fa-github faHover"></i></a>
                            <a th:href="@{https://www.linkedin.com/in/cruzaniovillarreal/}"><i class="fab fa-linkedin faHover"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card h-100 avatarBorderCont triviaCard avatar caroline">
                    <img th:src="@{/img/caroline.jpeg}" class="card-img-top " alt="...">
                    <div class="card-body">
                        <div class="card-footer m-0 linkFooterCE">
                        <h2 class="text-center">Caroline Esquivel</h2>
                            <p><a th:href="@{https://github.com/Caroline1986}"><i class="fab fa-github faHover"></i></a>
                            <a th:href="@{https://www.linkedin.com/in/ceesquivel}"><i class="fab fa-linkedin faHover"></i>l</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>