<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <meta charset="UTF-8">
    <title>FAQ</title>
</head>
<body>


<main>
    <header>
        <h1 class="welcomePlayerHeader text-center">Meet the Creators</h1>
    </header>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col mt-3">
                <div class="card h-100 avatarBorderCont triviaCard">
                    <img class="card-img-top avatarLabel" th:src="@{/img/thomas.png}" alt="">
                    <div class="card-body">
                        <h2 class="card-title ">Thomas</h2>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid amet
                            architecto asperiores error et eveniet facilis id, ipsa laudantium maxime molestiae nam
                            nihil quo quos recusandae saepe similique tenetur? Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Amet animi at aut commodi cumque debitis deserunt
                            doloribus enim itaque iusto, magnam, nobis non, nostrum qui ratione sapiente soluta
                            voluptates voluptatum!
                        </p>
                        <div class="card-footer">
                            <p>Contact:
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card h-100 avatarBorderCont triviaCard">
                    <img class="card-img-top avatarLabel" th:src="@{/img/cory.jpeg}" alt="">
                    <div class="card-body">
                        <h2 class="card-title">Cory</h2>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid amet
                            architecto asperiores error et eveniet facilis id, ipsa laudantium maxime molestiae nam
                            nihil quo quos recusandae saepe similique tenetur? Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Amet animi at aut commodi cumque debitis deserunt doloribus enim itaque
                            iusto, magnam, nobis non, nostrum qui ratione sapiente soluta voluptates voluptatum!
                        </p>
                        <div class="card-footer">
                            <p>Contact:</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mt-3">
                <div class="card h-100 avatarBorderCont triviaCard">
                    <img class="card-img-top avatarLabel" th:src="@{/img/cruz.jpeg}" alt="">
                    <div class="card-body">
                        <h2 class="card-title">Cruzanio</h2>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid amet
                            architecto asperiores error et eveniet facilis id, ipsa laudantium maxime molestiae nam
                            nihil quo quos recusandae saepe similique tenetur? Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Amet animi at aut commodi cumque debitis deserunt doloribus enim itaque
                            iusto, magnam, nobis non, nostrum qui ratione sapiente soluta voluptates voluptatum!
                        </p>
                        <div class="card-footer">
                            <p>Contact: </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card h-100 avatarBorderCont triviaCard">
                    <img th:src="@{/img/caroline.jpeg}" class="card-img-top avatarLabel" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Caroline</h2>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid amet
                            architecto asperiores error et eveniet facilis id, ipsa laudantium maxime molestiae nam
                            nihil quo quos recusandae saepe similique tenetur? Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Amet animi at aut commodi cumque debitis deserunt doloribus enim itaque
                            iusto, magnam, nobis non, nostrum qui ratione sapiente soluta voluptates voluptatum!
                        </p>
                        <div class="card-footer">
                            <p>Contact: </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>