<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="partials/head.html :: head"></div>
    <meta charset="UTF-8">
    <title>FAQ Edit</title>
</head>
<body>
<h1>Edit FAQ</h1>
<form th:action="@{'/faq/' + ${user.id} + '/edit'}" th:method="POST" th:object="${user}">
    <label for="description">Edit Description</label>
    <textarea id="description" name="description" th:text="${user.description}" placeholder="Enter body"></textarea>
    <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#staticBackdrop">
            Change Profile Picture
        </button>
    </div>

        <div class="modal-header">
            <h5 class="modal-title m-auto" id="staticBackdropLabel">Pick Your Image</h5>
        </div>
        <div class="modal-body p-1">
            <div class="container-fluid">
                <div class="row d-flex">
                    <div class="flex-wrap justify-content-center m-auto">
                        <input type="radio" name="adminImage" value="/img/caroline.jpeg"
                               class="sr-only" id="caroline">
                        <label class="avatarLabel" for="caroline">
                            <img th:src="@{/img/caroline.jpeg}"  alt="avatar-icon"
                                 class="avatarOptions">
                        </label>
                        <input type="radio" name="adminImage" value="/img/cory.jpeg"
                               class="sr-only" id="cory">
                        <label class="avatarLabel" for="cory">
                            <img th:src="@{/img/cory.jpeg}" alt="avatar-icon"
                                 class="avatarOptions">
                        </label>
                        <input type="radio" name="adminImage" value="/img/cruz.jpeg"
                               class="sr-only"
                               id="cruz">
                        <label class="avatarLabel" for="cruz">
                            <img th:src="@{/img/cruz.jpeg}" alt="avatar-icon"
                                 class="avatarOptions">
                        </label>
                        <input type="radio" name="adminImage" value="/img/thomas.png"
                               class="sr-only"
                               id="thomas">
                        <label class="avatarLabel" for="thomas">
                            <img th:src="@{/img/thomas.png}" alt="avatar-icon"
                                 class="avatarOptions">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Select</button>
<!--        <button id="avatarFormSubmit" type="submit" class="btn btn-info">Submit</button>-->
    </div>
    <button>Update FAQ</button>
    </div>
</form>
</body>
<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>

</html>