<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Login</title>
</head>
<body>
<div>

    <div class="card">
        <h5 class="card-header">Summary</h5>
        <div class="card-body">
            <div th:if="${canAdvance}">
                <h3>Congratulations!</h3>
                <p>You successfully answered enough to proceed to the next round!</p>
            </div>
            <div th:each="song : ${songs}">
                <div class="row">
                    <h5 class="card-title col-6">Title: <span th:text="${song.getTitle()}"></span></h5>
                    <h5 class="card-title col-6">Artist: <span th:text="${song.getArtist()}"></span></h5>
                </div>
                <h6 class="card-text">Lyric: <span th:text="${song.getLyrics()}"></span></h6>
                <h6 class="card-text">Your Answer: <span th:text="${userAnswers[songs.indexOf(song)]}"></span></h6>
                <br>
                <hr>
            </div>
            <div class="text-center">
                <h1 th:text="${score}"></h1>
            </div>
            <div th:if="${canAdvance}">
                <a href="#" class="btn btn-primary">Next Level</a>
            </div>
            <a href="/index" class="btn btn-primary">Home</a>
        </div>
    </div>


</div>
</body>
<th:block th:include="partials/scripts :: scripts"></th:block>
</html>