<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Login</title>
</head>
<body>
<div>

    <div class="card text-center">
        <input type="hidden" id="score" th:value="${score}">
        <h5 class="card-header">Score <span id="scoreCounter"></span></h5>
        <div class="card-body">
            <div th:if="${canAdvance}" id="congrats" class="hide">
                <h3>Congratulations!</h3>
                <p>You successfully answered enough to proceed to the next round!</p>
                <hr>
            </div>
            <div th:if="${awardEarned}" id="badgeEarned" class="hide">
                <h3>NEW <span th:if="${newAwards.size() > 1}">BADGES</span><span th:unless="${newAwards.size() > 1}">BADGE</span> EARNED!</h3>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">See Award</button>
            </div>
            <div th:each="song, int : ${songs}">
                <div class="row">
                    <h5 class="card-title col-6 text-left">Title: <span th:text="${song.getTitle()}"></span></h5>
                    <h5 class="card-title col-6 text-right">Artist: <span th:text="${song.getArtist()}"></span></h5>
                </div>
                <h6 class="card-text">Lyric: <span th:text="${song.getLyrics()}"></span></h6>
                <h6 class="card-text">Your Answer:
                    <span th:each="word, int2 : ${songLyrics.get(int.index)}">
                    <span th:if="${word} == ${userAnswers.get(int.index).get(int2.index)}" style="color: green"
                          th:text="${word} "></span>
                    <span th:if="(${userAnswers.get(int.index).get(int2.index)} != 'xyz') and (${word} != ${userAnswers.get(int.index).get(int2.index)})"
                          style="color: red" th:text="${userAnswers.get(int.index).get(int2.index)} "></span>
                </span>
                </h6>
                <br>
                <hr>
            </div>
            <div th:if="${canAdvance}">
                <form th:action="@{/unscramble}" method="get">
                    <h5 class="text-white text-start">Difficulty:</h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio8"
                               value="easy">
                        <label class="form-check-label" for="inlineRadio8">Easy</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio9"
                               value="medium">
                        <label class="form-check-label" for="inlineRadio9">Medium</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio10"
                               value="hard">
                        <label class="form-check-label" for="inlineRadio10">Hard</label>
                    </div>

                    <h5 class="text-white text-start">Genre:</h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genre" id="inlineRadio11"
                               value="rock">
                        <label class="form-check-label" for="inlineRadio11">Classic Rock</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genre" id="inlineRadio12"
                               value="pop">
                        <label class="form-check-label" for="inlineRadio12">Pop</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genre" id="inlineRadio13"
                               value="hip-hop">
                        <label class="form-check-label" for="inlineRadio13">Hip-Hop</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genre" id="inlineRadio14"
                               value="country">
                        <label class="form-check-label" for="inlineRadio14">Country</label>
                    </div>
                    <div>
                        <input name=round type="hidden" th:value="${currentLevel+1}">
                        <button type="submit" class="btn btn-primary">Next Round</button>
                    </div>
                </form>
                <a href="/index" class="btn btn-danger">Quit Game</a>
            </div>
            <div th:unless="${canAdvance}">
                <a href="/index" class="btn btn-primary">Home</a>
            </div>

        </div>
    </div>

    <div th:if="${awardEarned}" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h2 class="modal-title" id="exampleModalLabel"><i class="fas fa-award"></i> Your New <span th:if="${newAwards.size() > 1}">Awards!</span><span th:unless="${newAwards.size() > 1}">Award!</span> <i class="fas fa-award"></i></h2>
                </div>
                <div class="modal-body row justify-content-center">
                    <div th:each="award : ${newAwards}" class="text-center">
                        <div class="text-center">
                            <i th:class="${award.getClassString()}+' fa-8x'"></i>
                            <h4 th:text="${award.getDescription()}"></h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
<th:block th:include="partials/scripts :: scripts"></th:block>
<script th:src="@{/js/unscramble.js}"></script>
<script type="text/javascript">
    let scoreToCount = parseInt($('#score').val())
    console.log(scoreToCount)
    let zero = 0

    function scoreCounter() {
        var scoreCount = setInterval(function () {
            if (zero === scoreToCount) {
                console.log("done")
                $('#scoreCounter').html(zero)
                clearInterval(scoreCount)
                $('#congrats').show()
                $('#badgeEarned').show()
            } else {
                console.log(zero)
                zero = zero + 1
                $('#scoreCounter').html(zero)
            }
        }, 5)
    }

    scoreCounter()
</script>

</html>