<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:include="partials/head.html :: head"></div>
    <title>Finish the Lyrics</title>
</head>
<body>
<form th:action="@{/finish-lyrics}">
    <div th:each="song : ${songs}">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title" th:text="${song.title}"></h5>
                <h5 class="card-text" th:each="question : ${questions.get(songs.indexOf(song))}"></h5>
                <div class="card-text" th:each="answer : ${answers.get(songs.indexOf(song))}">
                    <p th:text="${answer}"></p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<th:block th:include="partials/scripts :: scripts"></th:block>
</html>