<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:include="partials/head.html :: head"></div>
    <title>Finish the Lyrics</title>
</head>
<body>

<div class="card-body">
    <form th:method="post" th:action="@{/finish-lyrics}">
        <div th:each="question : ${questions}">
            <h5 class="card-title" th:text="${question}"></h5>
            <div class="card-text" STYLE="color: white" th:each="answer : ${answers.get(questions.indexOf(question))}">
                <div>
                    <input th:type="radio" th:text="${answer}">
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-small">Submit</a>
        </div>
    </form>
</div>
</body>
<th:block th:include="partials/scripts :: scripts"></th:block>
</html>


