
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Login</title>
</head>
<body>
<div class="card mx-auto mb-5" style="width: 23rem">
    <article class="card-body">
        <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
        <hr>
        <div th:if="${param.error}" class="text-center">
            <p class="text-danger">Username does not match security answer</p>
        </div>
        <div th:if="${param.logout}" class="text-center">
            <p class="text-success">You have successfully logged out.</p>
        </div>
        <form action="#" th:action="@{/forgotPassword}" th:object="${user}" method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="username" class="form-control" placeholder="Enter username" type="text">
                </div>
            </div>
        <table>
            <tr>
                <td>What was the house number and street name grew up on?</td>
                <td><input type="text" name="resetPasswordToken"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Reset Password"></td>
            </tr>
        </table>
    </form>
    </article>
</div>
</body>
<th:block th:include="partials/scripts :: scripts"></th:block>
</html>

