<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="partials/head.html :: head"></div>
<head> <title>Forgot Password</title> </head>
<body>
<center>
    <form action="#" th:action="@{/forgotPassword}" th:object="${user}" method="post">
        <table>
            <tr>

                <td><label for="email">Email</label></td>
                <td><input id="email" th:field="*{email}" type="text" name="email"/></td>

                <td><label for="securityQuestion">What was the house number and street name grew up on?</label></td>
                <td><input id=securityQuestion type="text" name="securityQuestion"></td>

            </tr>
            <tr>
                <td><input type="submit" value="Reset Password"></td>
            </tr>
        </table>
    </form>
</center>
</body>
<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
</html>

