

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="partials/head.html :: head"></div>
<head><title>Forgot Password</title></head>
<body>

    <form action="#" th:action="@{/forgotPassword}" th:object="${user}" method="post">
        <div class="card mx-auto my-5 avatarBorderCont" style="width: 18rem">
        <div class="card-body forgotPasswordCard">
            <label for="email">Email address</label>
            <input class="w-100" id="email" th:field="*{email}" type="text" name="email"/>
        </div>
        <input type="submit" value="Reset Password">
        </div>
    </form>

</body>
<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
</html>

