<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Forum</title>
</head>
<body>

<main class="container">
    <h1 class="text-center">Forum</h1>
    <div sec:authorize="isAuthenticated()">
        <div class="text-center mt-5">
            <button type="button" class="btn btn-success" id="post-form">New Post</button>
        </div>
    </div>

    <div class="card m-5" id="new-post">
        <div class="card-header text-left">New Post</div>
        <form th:action="@{/forum/post}" method="post" th:object="${post}">
            <div class="card-body">
                <label for="new-post-title">Subject: </label>
                <br>
                <input class="card-title" id="new-post-title" style="width: 50%" th:field="*{title}">
                <br>
                <label for="new-post-body">Post: </label>
                <textarea id="new-post-body" placeholder="Type your comment here" style="width: 100%; height: 100px"
                          th:field="*{body}"></textarea>
            </div>
            <div class="card-footer">
                <button type="button" id="close-post" class="btn btn-danger">Close</button>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>

    <div th:each="post : ${posts}" class="m-5">
        <div class="card text-center">
            <div class="card-header text-left" th:text="${post.getOwner().getUsername()}"></div>
            <form th:action="@{/post/{id}/edit(id=${post.id})}" method="post" th:object="${post}">
                <div class="card-body">
                    <h5 class="card-title post-title" th:text="${post.getTitle()}"></h5>
                    <p class="card-text post-body" th:text="${post.getBody()}"></p>
                    <button id="submit-post-edit" type="submit">Submit Edit</button>
                </div>
            </form>
            <div class="card-footer">
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${user.isAdmin() == true}">
                        <form th:action="@{/post/{id}/delete(id=${post.id})}" method="post">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                        <button id="post-edit" type="button">Edit</button>
                    </div>
                    <button type="button" th:value="'comment'+${post.id}" class="reply btn btn-primary">Reply</button>
                </div>
            </div>
        </div>


        <div th:each="comment : ${post.getCommentList()}">
            <div class="card text-center ml-auto" style="width: 90%">
                <div class="card-header text-left" th:text="${comment.getOwner().getUsername()}"></div>
                <form th:action="@{/comment/{id}/delete(id=${comment.id})}" method="post" th:object="${post}">
                <div class="card-body">
                    <p class="card-text comment-body" th:text="${comment.getBody()}"></p>
                    <button id="submit-comment-edit" type="button">Submit Edit</button>
                </div>
                </form>
                <div class="card-footer">
                    <div sec:authorize="isAuthenticated()">
                        <div th:if="${user.isAdmin() == true || user.getId() == comment.getOwner().getId()}">
                            <form th:action="@{/comment/{id}/delete(id=${comment.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Remove</button>
                                <button id="comment-edit" type="button">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:id="'comment'+${post.id}" class="card text-center ml-auto post-reply" style="width: 90%">
            <form th:action="@{forum/comment/{id}(id=${post.id})}" th:method="post" th:object="${comment}">
                <div class="card">
                    <h5 class="card-header">Reply</h5>
                    <div class="card-body">
                        <h4 class="card-title">RE: <span th:text="${post.getTitle()}"></span></h4>
                        <textarea id="body" name="body" placeholder="Type your comment here"
                                  style="width: 100%; height: 100px"></textarea>
                        <div>
                            <button type="button" class="btn btn-danger close-reply" th:value="'comment'+${post.id}">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</main>

<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>