<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Master of Music</title>
    <link rel="shortcut icon" sizes="16x16"  type="image/x-icon" th:href="@{/img/favicon.ico}"/>
</head>

<body class="body">
<div>
    <h1 class="titleHeader">Master Of Music</h1>
</div>

<div class="container-fluid">
    <a th:href="@{/index}"><i id="backButton" class="fas fa-backward"></i></a>
    <a href="#"><i id="audioButton" class="fas fa-volume-up mr-3"></i></a>
    <a href="#"><i id="audioButtonOff" class="fas fa-volume-mute mr-3"></i></a>

    <section id="pickGame" class="container">
        <div id="gameOptions" class="row d-flex justify-space-around">
            <div class="col-sm-12 col-md-6 text-center divMoveDown">

                <section id="triviaSection" class="pt-5">
                    <i id="triviaIcon" class="fas fa-music"></i>
                    <a href="#"><p id="triviaSelection" class="gameTitles pt-5">MUSIC TRIVIA MASTER</p></a>
                </section>
                <section id="lyricOptions">
                    <form th:action="@{/lyric-master/}" method="post">
                        <input type="hidden" name="round" value="1">
                        <section>
                            <h5 class="text-white text-start difficultyLabel">Difficulty:</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="songDifficulty" id="easySong"
                                       value="easy" checked hidden>
                                <label class="form-check-label difficultyLabel unscramble-diff-options unscramble-diff-selected" for="easySong">Easy</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="songDifficulty" id="mediumSong"
                                       value="medium" hidden>
                                <label class="form-check-label difficultyLabel unscramble-diff-options" for="mediumSong">Medium</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="songDifficulty" id="hardSong"
                                       value="hard" hidden>
                                <label class="form-check-label difficultyLabel unscramble-diff-options" for="hardSong">Hard</label>
                            </div>
                        </section>
                        <section>
                            <h5 class="text-white text-start genreLabel">Genre:</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="songGenre" id="rockSong"
                                       value="Rock" checked hidden>
                                <label class="form-check-label genreLabel unscramble-genre-options unscramble-genre-selected" for="rockSong">Rock</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input genreLabel" type="radio" name="songGenre" id="popSong"
                                       value="Pop" hidden>
                                <label class="form-check-label genreLabel unscramble-genre-options" for="popSong">Pop</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="songGenre" id="hiphopSong"
                                       value="Hip-Hop" hidden>
                                <label class="form-check-label genreLabel unscramble-genre-options" for="hiphopSong">Hip-Hop</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="songGenre" id="countrySong"
                                       value="Country" hidden>
                                <label class="form-check-label genreLabel unscramble-genre-options" for="countrySong">Country</label>
                            </div>
                        </section>
                        <button type="submit" class="btn btn-warning">Play</button>
                    </form>
                </section>
            </div>

            <div class="col-sm-12 col-md-6 text-center divMoveDown">

                <section id="lyricSection" class="pt-5">
                    <i id="lyricIcon" class="fas fa-microphone-alt"></i>
                    <a href=#><p id="lyricSelection" class="gameTitles pt-5">LYRIC MASTER</p></a>
                </section>

                <section id="triviaOptions">
                    <form id="gameSetupForm" th:action="@{/trivia-game/3}" method="post">
                        <section>
                            <h5 class="text-white text-start difficultyLabel">Difficulty:</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="difficultyOptions" id="easyChoice"
                                       value="easy" checked hidden>
                                <label class="form-check-label difficultyLabel unscramble-diff-options unscramble-diff-selected" for="easyChoice">Easy</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="difficultyOptions" id="mediumChoice"
                                       value="medium" hidden>
                                <label class="form-check-label difficultyLabel unscramble-diff-options" for="mediumChoice">Medium</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="difficultyOptions" id="hardChoice"
                                       value="hard" hidden>
                                <label class="form-check-label difficultyLabel unscramble-diff-options" for="hardChoice">Hard</label>
                            </div>
                        </section>
                        <section>
                            <h5 class="text-white text-start genreLabel">Genre:</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="genreOptions" id="rockChoice"
                                       value="Rock" checked hidden>
                                <label class="form-check-label genreLabel unscramble-genre-options unscramble-genre-selected" for="rockChoice">Rock</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="genreOptions" id="popChoice"
                                       value="Pop" hidden>
                                <label class="form-check-label genreLabel unscramble-genre-options" for="popChoice">Pop</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="genreOptions" id="hiphopChoice"
                                       value="Hip-Hop" hidden>
                                <label class="form-check-label genreLabel unscramble-genre-options" for="hiphopChoice">Hip-Hop</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="genreOptions" id="countryChoice"
                                       value="Country" hidden>
                                <label class="form-check-label genreLabel unscramble-genre-options" for="countryChoice">Country</label>
                            </div>
                        </section>
                        <button type="submit" class="btn btn-warning mt-2">Play</button>
                    </form>
                </section>
            </div>

            <div class="col-sm-12 col-md-6 text-center">

                <section id="musicTheorySection" class="pb-4">
                    <i id="musicTheoryIcon" class="fas fa-guitar"></i>
                    <a href="#"><p id="musicTheorySelection" class="gameTitles pb-4">MUSIC THEORY MASTER</p></a>
                </section>

                <section id="unscrambleOptions">
                    <form th:action="@{/unscramble}" method="get">
                        <input type="hidden" name="round" value="1">
                        <h5 class="text-white text-start difficultyLabel">Difficulty:</h5>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio8"
                                   value="easy" checked hidden>
                            <label class="form-check-label difficultyLabel unscramble-diff-options unscramble-diff-selected" for="inlineRadio8">Easy</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio9"
                                   value="medium" hidden>
                            <label class="form-check-label difficultyLabel unscramble-diff-options" for="inlineRadio9">Medium</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio10"
                                   value="hard" hidden>
                            <label class="form-check-label difficultyLabel unscramble-diff-options" for="inlineRadio10">Hard</label>
                        </div>


                        <h5 class="text-white text-start genreLabel">Genre:</h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genre" id="inlineRadio11"
                                   value="rock" checked hidden>
                            <label class="form-check-label genreLabel unscramble-genre-options unscramble-genre-selected" for="inlineRadio11">Rock</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genre" id="inlineRadio12"
                                   value="hip-hop" hidden>
                            <label class="form-check-label genreLabel unscramble-genre-options" for="inlineRadio12">Hip-Hop</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genre" id="inlineRadio13"
                                   value="pop" hidden>
                            <label class="form-check-label genreLabel unscramble-genre-options" for="inlineRadio13">Pop</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genre" id="inlineRadio14"
                                   value="country" hidden>
                            <label class="form-check-label genreLabel unscramble-genre-options" for="inlineRadio14">Country</label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-warning">Play</button>
                    </form>
                </section>
            </div>

            <div class="col-sm-12 col-md-6 text-center">

                <section id="unscrambleLyricSection" class="w-100 h-100 pb-4">
                    <i id="unscrambleLyricIcon" class="fas fa-compact-disc"></i>
                    <a href="#"><p id="unscrambleLyricSelection" class="gameTitles pb-4">UNSCRAMBLE MASTER</p></a>
                </section>

<!--        MUSIC THEORY DIFFICULTY SELECTION BELOW        -->
                <section id="musicTheoryOptions">
                    <form method="GET" th:action="@{|/music-theory/${0}|}">
                        <h5 class="text-white text-start difficultyLabel">Difficulty:</h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input difficultySelect" checked type="radio" name="theoryDifficultyOptions"
                                   id="theoryEasy"
                                   value="option1">
                            <label class="form-check-label genreLabel unscramble-genre-options" for="theoryEasy">Easy</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input difficultySelect" type="radio" name="theoryDifficultyOptions"
                                   id="theoryMedium"
                                   value="option2">
                            <label class="form-check-label genreLabel unscramble-genre-options" for="theoryMedium">Medium</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input difficultySelect" type="radio" name="theoryDifficultyOptions" id="theoryHard"
                                   value="option3">
                            <label class="form-check-label genreLabel unscramble-genre-options" for="theoryHard">Hard</label>
                        </div>
                        <br>
                        <button class="btn btn-warning" type="submit">Play Now!</button>
                    </form>
                </section>
            </div>
        </div>
    </section>
</div>


<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>