<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Leaderboard</title>
</head>
<body class="body">
<main class="container-fluid" style="padding-bottom: 80px">
    <div id="rankingsContainer" class="row justify-content-center">

        <div th:if="${loggedIn}" class="col-12 col-md-4 text-white card m-auto" style="background-color: transparent">
            <div class="card-body text-center pt-0 mb-4 mt-2">
                <img class="m-2" id="leadershipBoardAvatar" th:src="${userToFind.getImages()}">
                <h2 class="rockFont my-2 pinkShadowFont">Your Global Rank:</h2>
                <h1 class="rockFont m-2 "><span th:if="${globalRank}" th:text="${globalRank}"></span><span
                        th:unless="${globalRank}">No Rank</span></h1>
                <h2 class="rockFont m-2 pinkShadowFont">Total Score:</h2>
                <h1 class="rockFont"><span id="playerScore" th:if="${playerScore}"
                                           th:text="${#numbers.formatDecimal(playerScore,0,'COMMA', 0, 'POINT')}"></span><span
                        th:unless="${playerScore}">0</span></h1>
            </div>
        </div>

        <div class="col-12 col-md-8 justify-content-center">
            <section class="container-fluid">
                <div class="card mx-auto mt-5 hrLine4" id="globalRankingContainer">
                    <h1 class="gameHistoryHeader text-dark my-4 rockFont text-center w-100">
                        Global Rankings</h1>
                    <section class="listRankingsGroup">
                        <ul class="list-group list-group-flush hrLine5" th:each="user, int : ${rankedUsers}">
                            <li class="list-group-item d-flex flex-wrap justify-content-center leaderboardULs text-white">
                                <p class="my-2"><span th:text="${int.index+1}+'.'"></span>
                                    <span th:text="${user.getUsername()}"></span>
                                    <i th:if="${user.getUsers_achievements()}"
                                       th:each="achievement : ${user.getUsers_achievements()}"
                                       th:class="${achievement.getClassString()} + ' ml-1'"></i>
                                    <span>  --  Score:</span>
                                    <span id="globalUserRatingLine"
                                          th:text="${#numbers.formatDecimal(rankedScores.get(int.index),0,'COMMA', 0, 'POINT')}"></span>
                                </p>
                            </li>
                        </ul>
                    </section>
                </div>
            </section>

            <div class="mt-5">
                <section class="container-fluid" id="userGameStatsContainer">
                    <h1 class="gameHistoryHeader text-dark bg-white my-4 rockFont text-center" style="border-radius: 15px">Global Rankings By
                        Game</h1>
                    <ul class="nav nav-tabs fw-bolder" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active text-warning fw-bolder bg-dark border border-white"
                               id="musicTrivia-tab" data-toggle="tab"
                               href="#musicTriviaTab" role="tab" aria-controls="musicTriviaStats" aria-selected="true">TRIVIA
                                MASTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning fw-bolder bg-dark border border-white" id="lyricMaster-tab"
                               data-toggle="tab"
                               href="#lyricMasterTab" role="tab" aria-controls="lyricMasterStats" aria-selected="false">LYRIC
                                MASTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning fw-bolder bg-dark border border-white" id="musicTheory-tab"
                               data-toggle="tab"
                               href="#musicTheoryTab" role="tab" aria-controls="musicTheoryStats" aria-selected="false">THEORY
                                MASTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning fw-bolder bg-dark border border-white" id="unscramble-tab"
                               data-toggle="tab"
                               href="#unscrambleTab" role="tab" aria-controls="unscrambleStats" aria-selected="false">UNSCRAMBLE
                                MASTER</a>
                        </li>
                    </ul>

                    <div class="tab-content mb-4" id="myTabContent">
                        <!--music trivia tab-->
                        <div class="tab-pane fade show active" id="musicTriviaTab" role="tabpanel"
                             aria-labelledby="musicTrivia-tab">
                            <section class="tab-content" id="myTabContent1">
                                <div class="tab-pane fade show active h-75S" role="tabpanel"
                                     aria-labelledby="musicTrivia-tab">
                                    <!--start music trivia tab -->
                                    <div class="card">
                                        <h5 th:if="${game3Standing}" class="card-header text-white tabHeaders">Your
                                            Rank:
                                            <span th:text="${game3Standing}"></span>
                                        </h5>
                                        <div class="card-body cardBodyForTabs">
                                            <div th:each="user, int : ${game3Players}"
                                                 class="card mb-2 gameStatsCards border-gradient-purple"
                                                 style="width: 100%;">
                                                <p class="my-1 p-0 ml-2"><span th:text="' '+${int.index+1}+'.'"></span>
                                                    <span th:text="${user.getUsername()}"></span>
                                                    <i th:if="${user.getUsers_achievements()}"
                                                       th:each="achievement : ${user.getUsers_achievements()}"
                                                       th:class="${achievement.getClassString()} + ' ml-1'"></i>
                                                    <span>  --  Score:</span>
                                                    <span th:text="${#numbers.formatDecimal(game3Scores.get(int.index),0,'COMMA', 0, 'POINT')}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!--end of music trivia tab-->

                        <!--start of lyric master tab-->
                        <div class="tab-pane fade" id="lyricMasterTab" role="tabpanel"
                             aria-labelledby="lyricMaster-tab">
                            <section class="tab-content mb-4" id="myTabContent2">
                                <div class="tab-pane fade show active h-75S" role="tabpanel"
                                     aria-labelledby="lyricMaster-tab">

                                    <!--start lyric master tabs -->
                                    <div class="card">
                                        <h5 th:if="${game1Standing}" class="card-header text-white tabHeaders">Your
                                            Rank:
                                            <span th:text="${game1Standing}"></span></h5>
                                        <div class="card-body cardBodyForTabs">
                                            <div th:each="user, int : ${game1Players}"
                                                 class="card mb-2 gameStatsCards border-gradient-purple"
                                                 style="width: 100%;">
                                                <p class="my-1 p-0 ml-2"><span th:text="' '+${int.index+1}+'.'"></span>
                                                    <span th:text="${user.getUsername()}"></span>
                                                    <i th:if="${user.getUsers_achievements()}"
                                                       th:each="achievement : ${user.getUsers_achievements()}"
                                                       th:class="${achievement.getClassString()} + ' ml-1'"></i>
                                                    <span>  --  Score:</span>
                                                    <span th:text="${#numbers.formatDecimal(game1Scores.get(int.index),0,'COMMA', 0, 'POINT')}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!--End of lyric master tab-->

                        <!--Start of music theory tab-->
                        <div class="tab-pane fade" id="musicTheoryTab" role="tabpanel"
                             aria-labelledby="musicTheory-tab">
                            <section class="tab-content mb-4" id="myTabContent3">
                                <div class="tab-pane fade show active h-75S" role="tabpanel"
                                     aria-labelledby="musicTheory-tab">
                                    <!--start music theory tabs -->

                                    <div class="card">
                                        <h5 th:if="${game2Standing}" class="card-header text-white tabHeaders">Your
                                            Rank:
                                            <span th:text="${game2Standing}"></span></h5>
                                        <div class="card-body cardBodyForTabs">
                                            <div th:each="user, int : ${game2Players}"
                                                 class="card mb-2 gameStatsCards border-gradient-purple"
                                                 style="width: 100%;">
                                                <p class="my-1 p-0 ml-2"><span th:text="' '+${int.index+1}+'.'"></span>
                                                    <span th:text="${user.getUsername()}"></span>
                                                    <i th:if="${user.getUsers_achievements()}"
                                                       th:each="achievement : ${user.getUsers_achievements()}"
                                                       th:class="${achievement.getClassString()} + ' ml-1'"></i>
                                                    <span>  --  Score:</span>
                                                    <span th:text="${#numbers.formatDecimal(game2Scores.get(int.index),0,'COMMA', 0, 'POINT')}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!--End of music theory tab-->

                        <!--Start of unscramble tab-->
                        <div class="tab-pane fade" id="unscrambleTab" role="tabpanel" aria-labelledby="unscramble-tab">
                            <section class="tab-content mb-4" id="myTabContent4">
                                <div class="tab-pane fade show active h-75S" role="tabpanel"
                                     aria-labelledby="unscramble-tab">
                                    <!--start unscramble tabs -->
                                    <div class="card">
                                        <h5 th:if="${game4Standing}" class="card-header text-white tabHeaders">Your
                                            Rank:
                                            <span
                                                    th:text="${game4Standing}"></span></h5>
                                        <div class="card-body cardBodyForTabs container justify-content-center">
                                            <div th:each="user, int : ${game4Players}"
                                                 class="card mb-2 gameStatsCards border-gradient-purple row"
                                                 style="width: 100%;">
                                                <p class="my-1 p-0 ml-2"><span th:text="' '+${int.index+1}+'.'"></span>
                                                    <span th:text="${user.getUsername()}"></span>
                                                    <i th:if="${user.getUsers_achievements()}"
                                                       th:each="achievement : ${user.getUsers_achievements()}"
                                                       th:class="${achievement.getClassString()} + ' ml-1'"></i>
                                                    <span>  --  Score:</span>
                                                    <span th:text="${#numbers.formatDecimal(game4Scores.get(int.index),0,'COMMA', 0, 'POINT')}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
<div th:replace="partials/footerNav.html :: footerNav"></div>
<div th:replace="partials/scripts.html :: scripts"></div>
</body>
</html>