<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:include="partials/head.html :: head"></div>
    <title>Finish the Lyrics</title>
</head>
<body>

<div class="card-body">
    <div th:each="question : ${questions}">
        <h5 class="card-title" th:text="${question}"></h5>
    </div>
    <form METHOD="POST" th:action="@{|/lyric-master/${id}|}">
        <div class="card-text" STYLE="color: white" th:each="answer : ${answers}">
            <label th:for="${answer.id}" th:text="${answer.lyricAnswer}"></label>
            <input type="radio" th:id="${answer.id}" name="answers" th:value="${answer.lyricAnswer}">
        </div>
        <button>Next</button>
    </form>
</div>
</body>
<th:block th:include="partials/scripts :: scripts"></th:block>
</html>


