<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1 th:text="${questions}"></h1>


<form METHOD="POST" th:action="@{|/music-theory/${id}|}">
    <div th:each="answer : ${answers}">
        <label th:for="${answer.id}" th:text="${answer.answer}"></label>
        <input type="radio" th:id="${answer.id}" name="answers" th:value="${answer.answer}">
    </div>
    <button type="submit">Submit your answer!</button>
</form>




</body>
</html>