<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Reset Password</title>
    <link th:href="@{css/errorPage.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script>
        var myApp = angular.module("myapp", []);
        myApp.controller("PasswordController", function ($scope) {

            var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
            var mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

            $scope.passwordStrength = {
                "float": "left",
                "width": "100px",
            };

            $scope.analyze = function (value) {
                if (strongRegex.test(value)) {
                    $scope.passwordStrength["background-color"] = "green";
                } else if (mediumRegex.test(value)) {
                    $scope.passwordStrength["background-color"] = "yellow";
                } else {
                    $scope.passwordStrength["background-color"] = "red";
                }
            };

        });
    </script>
</head>
<body class="body">
<div>
    <h1 class="titleHeader">Master Of Music</h1>
</div>
<div class="form-gap"></div>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" style="backdrop-filter: inherit">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x lock"></i></h3>
                        <h2 class="rockFont" style="color:#3FE0D0;">Enter new password:</h2>
                        <div class="panel-body forgotPasswordCard">
                            <form action="#" th:action="@{/reset-password}" th:object="${user}" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input class="form-control" id="email" th:field="*{email}" type="text" name="email" readonly>
                                    </div>
                                </div>
                                <div class="form-group" ng-controller="PasswordController" id="myPassword">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i></span>
                                        </div>
                                        <input class="form-control" ng-model="password" ng-change="analyze(password)"
                                               placeholder="Enter password" type="password" id="passwordEntered" name="password"
                                               th:field="*{password}">
                                        <div id="passwordStrength" ng-style="passwordStrength">
                                        </div>
                                    </div>
                                    <a id="pwRequirements" href="#">Password Requirements</a>
                                </div>
                                <ul id="pwRequirementsList" class="text-danger"><h6>Password Requirements:</h6>
                                    <li>It contains at least 8 characters and at most 20 characters.</li>
                                    <li>It contains at least one digit.</li>
                                    <li>It contains at least one upper case alphabet.</li>
                                    <li>It contains at least one lower case alphabet.</li>
                                    <li>It contains at least one special character which includes:</li>
                                    <ul>!@#$%&*()-+=^.</ul>
                                    <li>No spaces.</li>
                                </ul>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fas fa-key"></i> </span>
                                        </div>
                                        <input class="form-control" placeholder="Confirm password" type="password"
                                               name="confirmPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="reset" class="btn btn-primary" value="Clear"/>
                                    <input type="submit" class="btn btn-primary" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="display-1 d-block " id="unscrambleLyricIcon"><i
                class="fas fa-compact-disc"></i></span>
    </div>
</div>
<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>