<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials/head.html :: head"></div>
    <title>Title</title>
    <style>
        #reportCard{
            border: 10px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #0061f5, #ac00ec);
        }
    </style>
</head>
<body>

<!--alert-->
<div th:if="${theoryAwardEarned}" id="theoryBadgeAlert" class="alert alert-dismissible fade show p-2 container-fluid" role="alert">
    <div class="row d-flex justify-content-center w-100 h-100 m-0">
        <div class="col-12 text-center mt-2 w-100">
            <h3><strong class="rockFont text-white">AWARD!</strong></h3>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3 mb-auto w-100">
            <div th:each="achievement : ${newAwards}">
                <div class="text-center">
                    <i id="newTriviaAwardsEarned" th:class="${achievement.getClassString() + ' fa-5x'}"></i>
                    <p class="text-white mt-1 d-flex flex-wrap" th:text="${achievement.getDescription()}"></p>
                </div>
            </div>
        </div>
        <div id="badgeAlertControls" class="col-12 text-center w-100">
            <button type="button" class="btn-close btn-warning mr-2" data-dismiss="alert" aria-label="Close">Keep
                Playing!
            </button>
            <a th:href="@{/achievements}"><button  type="button" class="btn-info ml-2" aria-label="Achievements">
                Check Out Achievements!
            </button></a>
        </div>
    </div>
</div>


<div class="mt-5">
    <div class="card bg-dark m-auto" id="reportCard" style="width: 38rem;">
        <div class="card-header">
            <h1 style="color: #ffffff">Congratulations! Here are your results</h1>
        </div>
        <div class="card-body">
            <h3 style="color: #ffffff">Score</h3><br>
            <h4 style="color: #ffffff" th:text="${score}"></h4>
            <form th:action="@{/round-report/end}" th:method="post">
                <button type="submit" class="ml-2 btn btn-warning">Start A New Game</button>
            </form>
        </div>
    </div>
</div>





<div th:replace="partials/footerNav.html :: footerNav"></div>
<div th:replace="partials/scripts.html :: scripts"></div>
</body>
</html>