<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Master of Music</title>
</head>

<body>

<img src="img/giphy.gif" id="backgroundSplashImg"/>
<a href="#"><i id="backButton" class="fas fa-backward"></i></a>
<a href="#"><i id="audioButton" class="fas fa-volume-up mr-3"></i></a>
<a href="#"><i id="audioButtonOff" class="fas fa-volume-mute mr-3"></i></a>
<h1 id="header">MASTER OF MUSIC</h1>
<a th:href="@{/index}"><i id="playButton" class="fas fa-play-circle"></i></a>


<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>