<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Music Trivia Master</title>
</head>
<body>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval=false>
            <div class="card m-auto">
                <h3 class="card-header">START</h3>
            </div>
        </div>
        <form th:action="@{/trivia-game/submit}" th:method="post" >
            <div class="carousel-item" th:each="question : ${questions}" data-interval=false>
                <div class="card m-auto">
                    <h3 class="card-header" th:text="${question.question}"></h3>
                    <input type="hidden" name="questionId" th:value="${question.id}"/>
                    <div class="card-body form-check form-check-inline quizAnswers"
                         th:each="answer : ${question.getAnswers()}">
                        <input class="form-check-input solutions" type="radio" th:name="question_+${question.id}"
                               th:value="${answer.id}"
                               id="triviaGameQ2">
                        <label class="form-check-label" for="triviaGameQ2" th:text="${answer.answer}"></label>
                    </div>
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>


<!--<form th:action="@{/trivia-game/{id}(id=${question.id})}" th:method="post">-->
<!--    <div id="cardQnA" class="card m-auto">-->
<!--        <h3 id="quizQuestions" class="card-header" th:text="${question.question}"></h3>-->
<!--        <div class="card-body form-check form-check-inline quizAnswers" th:each="answer : ${question.getAnswers()}">-->

<!--            <input class="form-check-input solutions" type="radio" name="solutions" th:value="${answer.answer}"-->
<!--                   id="triviaGameQuiz">-->
<!--            <label class="form-check-label" for="triviaGameQuiz" th:text="${answer.answer}"></label>-->
<!--        </div>-->
<!--        <button class="btn btn-danger" type="submit">Submit</button>-->
<!--    </div>-->
<!--</form>-->


<div th:include="partials/footerNav.html :: footerNav"></div>
<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>