<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials/head.html :: head"></div>
    <title>Unscramble The Lyrics</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js"
            integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/enquire.js/2.0.2/enquire.min.js"
            integrity="sha512-13gC1aPMpFBoGaB8mP2dhgYVNE0s6i9Jv13z4MV2MmeJlS5HDlrwkp8rvIkuzmxn4VWywFhn2AOi5BHF8kjcNA=="
            crossorigin="anonymous"></script>
    <meta class="deezerAPI" th:content="${deezerAPI}">
</head>
<body>
<main class="container web mb-5" style="height: 75%">
    <div class="game-start">
        <div class="card instr-card mx-auto">
            <div class="card-body">
                <h2 class="begin-instr text-center">Before You Begin!</h2>
                <div class="row">
                    <h4 class="mb-2 col-6 text-center">Difficulty: <span
                            th:text="${difficulty}"></span></h4>
                    <h4 class="mb-2 col-6 text-center">Genre: <span th:text="${genre}"></span>
                    </h4>
                </div>
                <div class="mobile-instr hide">
                    <h4>
                        <ol>
                            <li class="card-text">Click a word to place it inside the highlighted box.</li>
                            <li class="card-text">You can click a word on the board to put it back in the word bank.</li>
                            <li class="card-text">Click <i class="fas fa-undo"></i> to fully reset the board.</li>
                            <li class="card-text">Click <i class="fas fa-binoculars"></i> to catch a glimpse of what words are in the right position.</li>
                            <li class="card-text">You have <span th:text="${timeLimit}"></span> seconds to complete each
                                lyric.
                            </li>
                            <li class="card-text">Click Start to Begin!</li>
                        </ol>
                    </h4>

                </div>
                <div class="web-instr">
                    <h4>
                        <ol>
                            <li class="card-text m-4">Drag and drop the words to have them swap positions</li>
                            <li class="card-text m-4">Hit the <i class="fas fa-play"></i> button to hear a 5 second clip of the song.</li>
                            <ul>
                                <li class="m-4"><span style="color: red;">NOTE: </span> Use this to jog your memory of the song, the lyrics may or may not pick up where it stops.</li>
                                <li class="m-4"><span style="color: green;">HINT: </span> All lyrics start with a capital word.</li>
                            </ul>
                            <li class="card-text m-4">Click <i class="fas fa-binoculars"></i> to catch a glimpse of what words are in the right position.</li>
                            <li class="card-text m-4">You have <span th:text="${timeLimit}"></span> seconds to complete each lyric.</li>
                            <li class="card-text m-4">Click Start to Begin!</li>
                        </ol>
                    </h4>
                    <div>
                        <h4>

                        </h4>
                        <h4>

                        </h4>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center pt-0 pb-4">
                <button type="button" id="startButton" class="unscramble-start-button">Start</button>
            </div>
        </div>

    </div>

    <form th:action="@{/unscramble/results}" method="post">
        <input name="difficulty" type="hidden" th:value="${difficulty}">
        <input name="playerGame" type="hidden" th:value="${playerGame}">
        <input name="level" type="hidden" th:value="${round}">

        <div th:each="lyricSet : ${scrambledLyricsSet}" class="all-cards hide">
            <div class="card game-card">
                <input class="song-id" name="song-id" type="hidden" th:value="${songs[scrambledLyricsSet.indexOf(lyricSet)].getId()}">
                <div class="card-header row text-center">
                    <div class="m-auto">
                        <h4 class="unscramble-title" th:text="${songs[scrambledLyricsSet.indexOf(lyricSet)].getTitle()}"></h4>
                        <h5 class="unscramble-artist" th:text="${songs[scrambledLyricsSet.indexOf(lyricSet)].getArtist()}"></h5>
                        <h6 class="round-show">Round: <span th:text="${round}" class="unscramble-round-count"></span></h6>
                    </div>
                    <div class="progressBar">
                        <h1 class="times-up hide">Times Up!</h1>
                        <div class="bar">
                            <h5>
                                <span class="unscramble-timer" th:text="${timeLimit}"></span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="card-body justify-content-center">
                    <div class="text-center sound-wave" style="height: 200px">
                        <img class="still-wave" th:src="@{/img/still-wave.jpg}" style="height: 100%; width: 50%" alt="Unavailable">
                        <img class="wave hide" th:src="@{/img/wave.gif}" style="height: 100%; width: 50%" alt="Unavailable">
                    </div>
                    <div class="text-center play-button my-2 mt-3">
                        <button type="button" class="btn song-clip-button"><i class="fas fa-play mx-3"></i></button>
                    </div>
                    <div class="hide audio-controls text-center my-2 mt-3">
                        <audio>
                            <source class="track-source" type="audio/mpeg">
                        </audio>
                        <button type="button" class="btn btn-success play-button-2 hide">Replay <i class="fas fa-play mx-1"></i></button>
                    </div>
                    <div class="row justify-content-center all-words my-4">
                            <div class="drop-zone m-2 unoccupied text-center d-flex align-items-center" th:each="word : ${lyricSet}">
                                <a href="#" class="m-auto hide btn btn-primary mobile-word"></a>
                                <a href="#" class="web-words m-2 btn btn-primary words p-0 align-items-center d-flex text-center justify-content-center" style="width: 100%; height: 75%" th:text="${word}"></a>
                                <input class="droppedWord" type="hidden" th:id="'word'+${lyricSet.indexOf(word)}" th:value="${word}">
                        </div>
                    </div>
                    <div class="mobile-bank hide row justify-content-center mt-3 mb-2">
                        <div th:each="word : ${lyricSet}">
                            <a href="#" class="m-1 btn btn-primary words mobile-words1" th:text="${word}"></a>
                        </div>
                    </div>

                </div>
                <div class="card-footer text-center row align-items-center pb-3">
                    <div class="col-md-4 col-sm-3 text-left">
                        <h3 class="round-show"><span th:text="${scrambledLyricsSet.indexOf(lyricSet)+1}"></span>/<span
                                th:text="${scrambledLyricsSet.size()}"></span></h3>
                    </div>
                    <input type="hidden" class="fullAnswer" th:name="'song'+${scrambledLyricsSet.indexOf(lyricSet)}">
                    <div class="undo-button-class col-md-4 col-sm-3 text-center">
                        <button type="button" class="btn btn-warning undo-button"><i class="fas fa-undo"></i></button>
                    </div>
                    <div class="col-md-4 col-sm-3 text-center">
                        <button type="button" class="check-button check-button ml-auto"></i> Check <i class="fas fa-binoculars m-1"></i></button>

                    </div>
                    <div class="col-md-4 col-sm-3 text-right" th:if="${scrambledLyricsSet.indexOf(lyricSet) == scrambledLyricsSet.size()-1}">
                        <button type="button" class="lockin-button last-cat-button">Lock It In! <i class="fas fa-lock mx-1"></i></button>
                    </div>
                    <div class="col-md-4 col-sm-3 text-right" th:unless="${scrambledLyricsSet.indexOf(lyricSet) == scrambledLyricsSet.size()-1}">
                        <button type="button" class="lockin-button cat-button ml-auto">Lock It In! <i class="fas fa-lock mx-1"></i></button>

                    </div>
                </div>
            </div>
        </div>

        <div class="card final-screen hide mx-auto" style="width: 18rem;">
            <div class="card-body text-center">
                <h2 class="card-title">Great Job!</h2>
                <h4 class="card-text">Ready to see your results?</h4>
                <button type="submit" class="result-button ">View Results</button>
            </div>
        </div>
    </form>
    <footer>
        <div th:include="partials/footerNav.html :: footerNav"></div>
    </footer>
</main>
<div th:include="partials/scripts.html :: scripts"></div>

<script th:src="@{/js/keys.js}"></script>
<script th:src="@{/js/unscramble.js}"></script>


</body>

</html>