<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials/head.html :: head"></div>
    <title>Unscramble The Lyrics</title>
</head>
<body>
<main class="container">

    <div th:each="lyricSet : ${scrambledLyricsSet}">
        <div class="card">
            <h5 class="card-header">Unscramble This</h5>
            <div class="card-body justify content center">
                <div class="row justify-content-center">
                    <div th:each="word : ${lyricSet}">
                        <div class="drop-zone m-1" style="width: 75px; height: 50px; border: solid black 1px"><input type="hidden"></div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div th:each="word : ${lyricSet}">
                        <a href="#" class="m-1 btn btn-primary words" th:text="${word}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div th:include="partials/scripts.html :: scripts"></div>
</body>
</html>