<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head.html :: head"></div>
    <title>Profile</title>
</head>
<body class="body">

<div class="container-flex m-2">
    <div style="padding-bottom: 80px" class="row align-items-center">
        <div class="col-12 col-md-4">
            <div class="mt-5">
                <h3 class="welcomePlayerHeader text-center"
                    th:text="${userToShow.username.toUpperCase()}"></h3>
                <section class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img th:if="${userToShow.images}" class="m-2" id="profileAvatar" th:src="${userToShow.images}" alt="profile-icon">
                        <img th:unless="${userToShow.images}" class="m-2" id="profileAvatar" th:src="@{/img/maleIcon1.jpg}" alt="profile-icon">
                    </div>
                    <!-- Button trigger modal -->
                    <a th:href="@{/achievements}" class="w-100 text-center mt-4"><h3 class="text-white rockFont">
                        Achievements:</h3></a>
                    <div class="col-12 d-flex flex-wrap justify-content-center">
                        <div th:each="achievement : ${userAchievements}" class="mx-2 mt-3 justify-content-center">
                            <div>
                                <i id="profileBadges" th:class="${achievement.getClassString() + ' fa-4x'}"></i>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="container-fluid col-12 col-md-8">
            <section class="container-fluid" id="userGameStatsContainer">
                <h2 id="gameHistoryHeader" class="text-light my-5 pinkShadowFont">GAME HISTORY</h2>
                <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-warning fw-bolder bg-dark border border-white"
                           id="musicTrivia-tab" data-toggle="tab"
                           href="#musicTriviaTab"
                           role="tab"
                           aria-controls="musicTriviaStats" aria-selected="true">TRIVIA MASTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning fw-bolder bg-dark border border-white" id="lyricMaster-tab"
                           data-toggle="tab"
                           href="#lyricMasterTab" role="tab"
                           aria-controls="lyricMasterStats" aria-selected="false">LYRIC MASTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning fw-bolder bg-dark border border-white" id="musicTheory-tab"
                           data-toggle="tab"
                           href="#musicTheoryTab" role="tab"
                           aria-controls="musicTheoryStats" aria-selected="false">THEORY MASTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning fw-bolder bg-dark border border-white" id="unscramble-tab"
                           data-toggle="tab"
                           href="#unscrambleTab" role="tab"
                           aria-controls="unscrambleStats" aria-selected="false">UNSCRAMBLE MASTER</a>
                    </li>
                </ul>

                <div class="tab-content mb-4" id="myTabContent">
                    <!--music trivia tab-->
                    <div class="tab-pane fade show active" id="musicTriviaTab" role="tabpanel"
                         aria-labelledby="musicTrivia-tab">
                        <section class="tab-content" id="myTabContent1">
                            <div class="tab-pane fade show active h-75S" role="tabpanel"
                                 aria-labelledby="musicTrivia-tab">
                                <!--start music trivia tab -->
                                <div class="card">
                                    <h5 class="card-header text-white tabHeaders">OVERALL SCORE: <span
                                            th:text="${#numbers.formatDecimal(totalTriviaScore,0,'COMMA', 0, 'POINT')}"></span>
                                    </h5>
                                    <div class="card-body cardBodyForTabs">
                                        <div th:each="playerGame, int : ${playerGamesForTrivia}"
                                             class="card mb-2 gameStatsCards border-gradient-purple"
                                             style="width: 100%;">
                                            <div class="card-header">
                                                <p>Game <span th:text="${int.index+1}"></span> Total Score: <span
                                                        th:text="${playerGame.getScore()}"></span>
                                                </p>
                                                <ul th:each="playerGameRound, int : ${playerGame.getPlayerGameRounds()}">
                                                    <li>Round <span
                                                            th:text="${int.index+1}"></span> Score: <span
                                                            th:text="${playerGameRound.getScore()}"></span></li>
                                                    <li>Difficulty: <span
                                                            th:text="${playerGameRound.getDifficulty()}"></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--end of music trivia tab-->

                    <!--start of lyric master tab-->
                    <div class="tab-pane fade" id="lyricMasterTab" role="tabpanel" aria-labelledby="lyricMaster-tab">
                        <section class="tab-content mb-4" id="myTabContent2">
                            <div class="tab-pane fade show active h-75S" role="tabpanel"
                                 aria-labelledby="lyricMaster-tab">

                                <!--start lyric master tabs -->
                                <div class="card">
                                    <h5 class="card-header text-white tabHeaders">OVERALL SCORE: <span
                                            th:text="${#numbers.formatDecimal(totalLyricScore,0,'COMMA', 0, 'POINT')}"></span>
                                    </h5>
                                    <div class="card-body cardBodyForTabs">
                                        <div th:each="playerGame, int : ${playerGamesForLyric}"
                                             class="card mb-2 gameStatsCards border-gradient-purple"
                                             style="width: 100%;">
                                            <div class="card-header">
                                                <p>Game <span th:text="${int.index+1}"></span> Total Score: <span
                                                        th:text="${playerGame.getScore()}"></span>
                                                </p>
                                                <ul th:each="playerGameRound, int : ${playerGame.getPlayerGameRounds()}">
                                                    <li>Round <span
                                                            th:text="${int.index+1}"></span> Score: <span
                                                            th:text="${playerGameRound.getScore()}"></span></li>
                                                    <li>Difficulty: <span
                                                            th:text="${playerGameRound.getDifficulty()}"></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--End of lyric master tab-->

                    <!--Start of music theory tab-->
                    <div class="tab-pane fade" id="musicTheoryTab" role="tabpanel" aria-labelledby="musicTheory-tab">
                        <section class="tab-content mb-4" id="myTabContent3">
                            <div class="tab-pane fade show active h-75S" role="tabpanel"
                                 aria-labelledby="musicTheory-tab">
                                <!--start music theory tabs -->

                                <div class="card">
                                    <h5 class="card-header text-white tabHeaders">OVERALL SCORE: <span
                                            th:text="${#numbers.formatDecimal(totalTheoryScore,0,'COMMA', 0, 'POINT')}"></span>
                                    </h5>
                                    <div class="card-body cardBodyForTabs">
                                        <div th:each="playerGame, int : ${playerGamesForTheory}"
                                             class="card mb-2 gameStatsCards border-gradient-purple"
                                             style="width: 100%;">
                                            <div class="card-header">
                                                <p>Game <span th:text="${int.index+1}"></span> Total Score: <span
                                                        th:text="${playerGame.getScore()}"></span>
                                                </p>
                                                <ul th:each="playerGameRound, int : ${playerGame.getPlayerGameRounds()}">
                                                    <li>Round <span
                                                            th:text="${int.index+1}"></span> Score: <span
                                                            th:text="${playerGameRound.getScore()}"></span></li>
                                                    <li>Difficulty: <span
                                                            th:text="${playerGameRound.getDifficulty()}"></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--End of music theory tab-->

                    <!--Start of unscramble tab-->
                    <div class="tab-pane fade" id="unscrambleTab" role="tabpanel" aria-labelledby="unscramble-tab">
                        <section class="tab-content mb-4" id="myTabContent4">
                            <div class="tab-pane fade show active h-75S" role="tabpanel"
                                 aria-labelledby="unscramble-tab">
                                <!--start unscramble tabs -->
                                <div class="card">
                                    <h5 class="card-header text-white tabHeaders">OVERALL SCORE: <span
                                            th:text="${#numbers.formatDecimal(totalUnscrambleScore,0,'COMMA', 0, 'POINT')}"></span>
                                    </h5>
                                    <div class="card-body cardBodyForTabs">
                                        <div th:each="playerGame, int : ${playerGamesForUnscramble}"
                                             class="card mb-2 gameStatsCards border-gradient-purple"
                                             style="width: 100%;">
                                            <div class="card-header">
                                                <p>Game <span th:text="${int.index+1}"></span> Total Score: <span
                                                        th:text="${playerGame.getScore()}"></span>
                                                </p>
                                                <ul th:each="playerGameRound, int : ${playerGame.getPlayerGameRounds()}">
                                                    <li>Round <span
                                                            th:text="${int.index+1}"></span> Score: <span
                                                            th:text="${playerGameRound.getScore()}"></span></li>
                                                    <li>Difficulty: <span
                                                            th:text="${playerGameRound.getDifficulty()}"></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<div th:replace="partials/footerNav.html :: footerNav"></div>
<div th:replace="partials/scripts.html :: scripts"></div>
</body>
</html>